.grid-container {
  display:grid;
  background-color: #000;
  width: 100%;
  height: 592px;
  grid-gap: 2px;
  grid-template-areas:
    "primary primary secondary-upper-left secondary-upper-right"
    "primary primary secondary-bottom-left secondary-bottom-right";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.photo-1 {
  grid-area: primary;
}

.photo-2 {
  grid-area: secondary-upper-left;
}

.photo-3 {
  grid-area: secondary-upper-right;
}

.photo-4 {
  grid-area: secondary-bottom-left;
}

.photo-5 {
  grid-area: secondary-bottom-right;
}

.photo {
  display: inline-block !important;
  left: 0px !important;
  width:100%;
}

.cropped-photo {
  overflow:hidden;
  position: relative !important;
}